{
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "importOrder": [
    "^react(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^(assets|components|constants|context|locales|navigation|screens|types|utils)",
    "^\\./\\w",
    "^\\.\\./\\w",
    "^(\\.\\./){2}\\w",
    "^(\\.\\./){3}\\w",
    "^(\\.\\./){4}\\w",
    "^(\\.\\./){5,}\\w",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderGroupNamespaceSpecifiers": false,
  "importOrderCaseInsensitive": true
}
